body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*SPLASH*/
.horizontal-card-container {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    margin: 5%;
    overflow-x: auto;
    background-color: navy;
}

.horizontal-card-container > .card {
    margin: 5%;
    min-width: 200px;
}

.horizontal-card-container > .card img {
    object-fit: cover;
    max-width: 200px;
}

