@{
    ViewBag.Title = "Home Page";
}

<div id="jumbotron">
    <h1 class="header center">Companion</h1>
    <h5 class="header col s12">Find your fur-ever friend based on best personality fit!</h5>
    <div class="row center">
        <a href="/account/register" class="button">Find Your Fido</a>
    </div>
</div>


<div class="horizontal-card-container">

</div>